.main-con {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.bg-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 10vh;
}
.flex-con {
  display: flex;
  justify-content: space-between;
}
.logo-con {
  margin-right: auto;
}
.logo {
  height: 45px;
  width: 120px;
}
.search-con {
  display: flex;
  flex-direction: row;
  border: 1px solid lightcyan;
  padding: 10px;
}
.search-icon {
  border-right: 1px solid lightcyan;
}
.search1 {
  width: 30px;
}
.search-box {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}
.ul-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 1px 1px 5px 3px whitesmoke;
}
.no-item {
  color: #323f4b;
  font-family: 'Roboto';
  font-size: 24px;
}
.inpele {
  background-color: transparent;
  color: white;
  font-size: 18px;
  margin-left: 5px;
}
